.container_login {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.82);
  align-items: center;
}
.container2_login {
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgb(225, 220, 220);
  width: 40rem;
  height: 100%;
}
.container2_login h2 {
  color: aliceblue;
  font-size: xx-large;
  background-color: transparent;
  display: flex;
}
.google_login {
  margin-bottom: 3rem;
  border: 3px solid white;
  padding: 3rem;
  cursor: pointer;
}
.mobile_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid white;
  padding: 3rem;
}
mobile_login {
  position: absolute;
  top: auto;
  left: 40%;
}

.phone_content {
  text-align: center;
  font-size: larger;
  padding-bottom: 5rem;
}
